# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin123

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Airflow
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this

# Azure Document Intelligence (required)
AZURE_DI_ENDPOINT=https://<your-resource>.cognitiveservices.azure.com/
AZURE_DI_KEY=<your-key>

#SIRENE_API
API_SIRENE_TOKEN=
