# MongoDB
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=admin123
MONGODB_URI=mongodb://localhost:27017
DB_NAME=Hackathon

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Airflow
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# Airflow API
AIRFLOW_API_URL=http://airflow-api-server:8080
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

# Azure
AZURE_DI_ENDPOINT=https://<resource>.cognitiveservices.azure.com/
AZURE_DI_KEY=<ta-clé>
